body {
	font-family: serif;
		/* Necessary because operators such as 'xor' and 'lshift' stand out
		   from surrounding text by virtue of being sans serif. */
	hyphens: auto;
	line-height: 1.35;
	margin-left: 5em;
	margin-right: 4em;
	margin-top: 3em;
	margin-bottom: 3em;
}

div.wrapper {
	max-width: 60em;
	margin: auto;
}

ul {
	list-style-type: none;
	padding-left: 2em;
	margin-top: -0.2em;
	margin-bottom: -0.2em;
}

a { text-decoration: none; }

a.hidden_link {
	text-decoration: none;
	color: inherit;
}

li {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

h1 { line-height: 1; }
h2 { line-height: 1; font-size: 14pt; }
h3 { line-height: 1; }
h4 { line-height: 1; }

ul > li:before {
	content: "\2014";
	position: absolute;
	margin-left: -1.5em; 
}

.shy:before {
	content: "\00ad";
	/* This is U+00AD SOFT HYPHEN, same as &shy, but we put it in :before
	to stop it from being included when the text is copied to the clipboard
	with Firefox, which is especially annoying when copying to a terminal,
	where the hyphen characters will show up. */
}

:target { background-color: #C9FBC9; }
:target .codeblock { background-color: #C9FBC9; }
:target ul { background-color: #C9FBC9; }

.abbr_ref { float: right; }

.folded_abbr_ref { float: right; }
:target .folded_abbr_ref { display: none; }

:target .unfolded_abbr_ref { float: right; display: inherit; }
.unfolded_abbr_ref { display: none; }

.secnum { display: inline-block; min-width: 35pt; }
.annexnum { display: block; }

div.sourceLinkParent {
	float: right;
}

a.sourceLink {
	position: absolute;
	opacity: 0;
	margin-left: 10pt;
}

a.sourceLink:hover {
	opacity: 1;
}

a.itemDeclLink {
	position: absolute;
	font-size: 75%;
	text-align: right;
	width: 5em;
	opacity: 0;
}
a.itemDeclLink:hover { opacity: 1; }

div.marginalizedparent {
	position: relative;
	left: -5em;
}

div.footnoteNumberParent {
	position: relative;
	left: -4.7em;
}

a.marginalized {
	position: absolute;
	font-size: 75%;
	text-align: right;
	width: 5em;
}

a.enumerated_item_num {
	position: relative;
	left: -3.5em;
	display: inline-block;
	margin-right: -3em;
	text-align: right;
	width: 3em;
}

div.para {
	margin-bottom: 0.6em;
	margin-top: 0.6em;
	text-align: justify;
	min-height: 1.2em;
}

div.section { text-align: justify; }
div.sentence { display: inline; }

span.indexparent {
	display: inline;
	position: relative;
	float: right;
	right: -1em;
}

a.index {
	position: absolute;
	display: none;
}

a.index:before {
	content: "⟵";
	background-color: #C9FBC9;
}

a.index:target {
	display: inline;
}

.indexitems {
	margin-left: 2em;
	text-indent: -2em;
}

div.itemdescr {
	margin-left: 3em;
}

.bnf {
	font-family: sans-serif;
	font-style: italic;
	margin-left: 30pt;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-indent: -3em;
	padding-left: 3em;
}

.ncbnf {
	font-family: sans-serif;
	font-style: italic;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 30pt;
	text-indent: -3em;
	padding-left: 3em;
	background: inherit;
}

.ncrebnf {
	font-family: serif;
	font-style: italic;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 30pt;
	text-indent: -3em;
	padding-left: 3em;
	background: inherit;
}

.ncsimplebnf {
	font-family: serif;
	font-style: italic;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 30pt;
	background: inherit; /* no idea why this doesn't appear to be the default */
}

.ntdefcolon {
	font-style: normal;
}

span.textnormal {
	font-style: normal;
	font-family: serif;
	white-space: normal;
}

span.rlap {
    display: inline-block;
    width: 0px;
}

span.descr { font-style: normal; font-family: serif; }
.grammarterm { font-style: italic; font-family: sans-serif; }
.ncrebnf .grammarterm { font-style: italic; font-family: serif; }
span.term { font-style: italic; }
span.terminal { font-family: monospace; font-style: normal; }
span.noncxxterminal { font-family: monospace; font-style: normal; }
span.tcode { font-family: monospace; font-style: normal; }
span.textbf { font-weight: bold; }
span.textsf { font-family: sans-serif; }
span.textsc { font-variant: small-caps; }
a.nontermdef { font-style: italic; font-family: sans-serif; }
.ncrebnf a.nontermdef { font-style: italic; font-family: serif; }
span.emph { font-style: italic; }
span.techterm { font-style: italic; }
span.mathit { font-style: italic; }
span.mathsf { font-family: sans-serif; }
span.mathrm { font-family: serif; font-style: normal; }
span.textrm { font-family: serif; }
span.textsl { font-style: italic; }
span.mathtt { font-family: monospace; font-style: normal; }
span.mbox { font-family: serif; font-style: normal; }
span.ungap { display: inline-block; width: 2pt; }
span.textit { font-style: italic; }
span.texttt { font-family: monospace; }
span.tcode_in_codeblock { font-family: monospace; font-style: normal; }

span.phantom { color: white; }
	/* Unfortunately, this way the text is still selectable. Another
	option is display:none, but then we lose the nice layout.
	Todo: find proper solution. */

span.math {
	font-style: normal;
	font-family: serif;
}

span.mathblock {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	text-align: center;
}

span.mathalpha {
	font-style: italic;
}

span.synopsis {
	font-weight: bold;
	margin-top: 0.5em;
	display: block;
}

span.definition {
	font-weight: bold;
	display: block;
}

.codeblock {
	margin-left: 1.2em;
	line-height: 145%;
}

.outputblock {
	margin-left: 1.2em;
	line-height: 145%;
}

code {
	font-family: monospace;
	font-style: normal;
}

div.itemdecl {
	margin-top: 2ex;
}

code.itemdeclcode {
	white-space: pre;
	display: block;
}

span.comment { color: green; font-style: italic; font-family: serif; }
span.keyword { color: #00607c; font-style: normal; }
span.parenthesis { color: #af1915; }
span.curlybracket { color: #af1915; }
span.squarebracket { color: #af1915; }
span.literal { color: #9F6807; }
span.literalterminal { color: #9F6807; font-family: monospace; font-style: normal; }
span.literaltcode { color: #9F6807; font-family: monospace; font-style: normal; }
span.operator { color: #570057; }
span.anglebracket { color: #570057; }
span.preprocessordirective { color: #6F4E37; }

span.textsuperscript {
	vertical-align: super;
	font-size: smaller;
	line-height: 0;
}

.footnotenum { vertical-align: super; font-size: smaller; line-height: 0; }

.footnote {
	font-size: small;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

div.minipage {
	display: inline-block;
	margin-right: 3em;
}

div.numberedTable {
	text-align: center;
	margin: 2em;
}

div.figure {
	text-align: center;
	margin: 2em;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.8em;
	text-align: left;
	hyphens: none; /* otherwise some columns get very narrow, e.g. [tab:hash] */
}

td, th {
	padding-left: 1em;
	padding-right: 1em;
	vertical-align: top;
}

td.empty {
    padding: 0px;
    padding-left: 1px;
}

td.left {
	text-align: left;
}

td.right {
	text-align: right;
}

td.center {
	text-align: center;
}

td.justify {
	text-align: justify;
}

td.border {
	border-left: 1px solid black;
}

tr.rowsep, td.cline {
	border-top: 1px solid black;
}

tr.capsep {
	border-top: 3px solid black;
	border-top-style: double;
}

th {
	border-bottom: 1px solid black;
}

span.centry {
	font-weight: bold;
}

div.table {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
}

span.indented {
	background: inherit;
	display: block;
	margin-left: 2em;
	margin-bottom: 1em;
	margin-top: 1em;
}

ol.enumeratea { list-style-type: none; background: inherit; }
ol.enumerate { list-style-type: none; background: inherit; }
