body {
	font-family: Times New Roman;
	hyphens: auto;
	line-height: 1.25;
	margin-left: 20mm;
	margin-right: 16mm;
	margin-top: 12mm;
	margin-bottom: 12mm;
	font-size: 12pt;
}

div {
	background: inherit;
}

div.wrapper {
	max-width: 20cm;
	margin: auto;
}

div.texpara {
	margin-top: 3pt;
	margin-bottom: 3pt;
}

table div.texpara {
	margin-top: 0;
	margin-bottom: 0;
}

table.enumerate div.texpara {
	margin-top: 3pt;
	margin-bottom: 3pt;
}

ul {
	list-style-type: none;
	padding-left: 9mm;
	margin-top: 0;
	margin-bottom: 0;
}

ol {
	margin-top: 0;
	margin-bottom: 0;
}

a { text-decoration: none; }

a.hidden_link {
	text-decoration: none;
	color: inherit;
}

li {
	margin-top: 3pt;
	margin-bottom: 3pt;
}

h1 {
	line-height: 1;
	margin-top: 10pt;
	margin-bottom: 10pt;
}

h2 {
	line-height: 1;
	font-size: 14pt;
	margin-top: 10pt;
	margin-bottom: 10pt;
}

h3 {
	line-height: 1;
	margin-top: 10pt;
	margin-bottom: 10pt;
}

h4 {
	line-height: 1;
	margin-top: 10pt;
	margin-bottom: 10pt;
}

ul > li:before {
	content: "\2014";
	position: absolute;
	margin-left: -1.5em; 
}

.shy:before {
	content: "\00ad";
	/* This is U+00AD SOFT HYPHEN, same as &shy, but we put it in :before
	to stop it from being included when the text is copied to the clipboard
	with Firefox, which is especially annoying when copying to a terminal,
	where the hyphen characters will show up. */
}

:target { background-color: #C9FBC9; }
:target .codeblock { background-color: #C9FBC9; }
:target ul { background-color: #C9FBC9; }

.abbr_ref { float: right; }

.folded_abbr_ref { float: right; }
:target .folded_abbr_ref { display: none; }

:target .unfolded_abbr_ref { float: right; display: inherit; }
.unfolded_abbr_ref { display: none; }

.secnum { display: inline-block; min-width: 35pt; }
.annexnum { display: block; }

div.sourceLinkParent {
	float: right;
}

a.sourceLink {
	position: absolute;
	opacity: 0;
	margin-left: 10pt;
}

a.sourceLink:hover {
	opacity: 1;
}

a.itemDeclLink {
	position: absolute;
	font-size: 75%;
	text-align: right;
	width: 5em;
	opacity: 0;
}
a.itemDeclLink:hover { opacity: 1; }

div.marginalizedparent {
	position: relative;
	left: -18mm;
	top: 0.6mm;
}

div.footnoteNumberParent {
	position: relative;
	left: -4.7em;
}

a.marginalized {
	width: 15mm;
	position: absolute;
	font-size: 7pt;
	text-align: right;
}

a.enumerated_item_num {
	display: block;
	margin-top: 3pt;
	margin-bottom: 3pt;
	margin-right: 6pt;
}

div.para {
	margin-bottom: 6pt;
	margin-top: 6pt;
	text-align: justify;
	min-height: 1.2em;
}

div.section { text-align: justify; }
div.sentence { display: inline; }

a.index {
	position: relative;
	float: right;
	right: -1em;
	display: none;
}

a.index:before {
	position: absolute;
	content: "⟵";
	background-color: #C9FBC9;
}

a.index:target {
	display: inline;
}

.indexitems {
	margin-left: 2em;
	text-indent: -2em;
}

div.itemdescr {
	margin-left: 12mm;
}

.bnf {
	font-family: Arial;
	font-size: 14px;
	font-style: italic;
	margin-left: 30pt;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-indent: -3em;
	padding-left: 3em;
	line-height: 1.4;
}

div.bnf span.texttt { font-family: Courier New; font-size: 9pt; font-style: normal; }

.ncbnf {
	font-family: Arial;
	font-size: 14px;
	font-style: italic;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 30pt;
	text-indent: -3em;
	padding-left: 3em;
	line-height: 1.4;
}

div.ncbnf span.texttt { font-family: Courier New; font-size: 9pt; font-style: normal; }

.ncrebnf {
	font-family: Times New Roman;
	font-style: italic;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 30pt;
	text-indent: -3em;
	padding-left: 3em;
	line-height: 1.4;
}

.ncsimplebnf {
	font-family: Times New Roman;
	font-style: italic;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 30pt;
	line-height: 1.4;
}

span.textnormal {
	font-style: normal;
	font-family: Times New Roman;
	font-size: 12pt;
	white-space: normal;
}

.bnf span.textnormal {
	font-style: normal;
	font-family: Times New Roman;
	font-size: 11pt;
	white-space: normal;
}

.ncbnf span.textnormal {
	font-style: normal;
	font-family: Times New Roman;
	font-size: 11pt;
	white-space: normal;
}

p {
	margin-top: 4pt;
	margin-bottom: 4pt;
}

span.rlap {
    display: inline-block;
    width: 0px;
}

span.terminal {
	font-family: Courier New;
	font-style: normal;
	font-size: 9pt;
}
span.noncxxterminal {
	font-family: Courier New;
	font-style: normal;
	font-size: 9pt;
}

span.term { font-style: italic; }
span.tcode { font-family: Courier New; font-style: normal; }
span.textbf { font-weight: bold; }
span.textsf { font-family: Arial; font-size: 15px; }
div.footnote span.textsf { font-family: Arial; font-size: 11px; }
.bnf span.textsf { font-family: Arial; font-size: 14px; }
.ncbnf span.textsf { font-family: Arial; font-size: 14px; }
.example span.textsf { font-family: Arial; font-size: 14px; }
span.textsc { font-variant: small-caps; }
span.nontermdef { font-style: italic; font-family: Arial; font-size: 15px; }
.ncrebnf a.nontermdef { font-style: italic; font-family: Times New Roman; }
span.emph { font-style: italic; }
span.techterm { font-style: italic; }
span.mathit { font-style: italic; }
span.mathsf { font-family: Arial; }
span.mathrm { font-family: Times New Roman; font-style: normal; }
span.textrm { font-family: Times New Roman; font-size: 12pt; }
span.textsl { font-style: italic; }
span.mathtt { font-family: Courier New; font-style: normal; }
span.mbox { font-family: Times New Roman; font-style: normal; }
span.ungap { display: inline-block; width: 2pt; }
span.texttt { font-family: Courier New; font-size: 10pt; }
div.footnote span.texttt { font-family: Courier New; font-size: 11px; }
span.tcode_in_codeblock { font-family: Courier New; font-style: normal; font-size: 10pt; }

span.phantom { color: white; }
	/* Unfortunately, this way the text is still selectable. Another
	option is display:none, but then we lose the nice layout.
	Todo: find proper solution. */

span.math {
	font-style: normal;
	font-family: Times New Roman;
}

span.mathblock {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	text-align: center;
}

span.mathalpha {
	font-style: italic;
}

span.synopsis {
	font-weight: bold;
	margin-top: 0.5em;
	display: block;
}

span.definition {
	font-weight: bold;
	display: block;
}

.codeblock {
	font-family: Courier New;
	margin-left: 1.2em;
	line-height: 140%;
	font-size: 10pt;
	white-space: pre;
	display: block;
	margin-top: 3pt;
	margin-bottom: 3pt;
	overflow: auto;
	margin-right: -15mm;
}

.outputblock {
	margin-left: 1.2em;
	line-height: 145%;
}

code {
	font-family: Courier New;
	font-style: normal;
}

div.itemdecl {
	margin-top: 2ex;
}

code.itemdeclcode {
	white-space: pre;
	font-family: Courier New;
	font-size: 10pt;
	display: block;
	overflow: auto;
	margin-right: -15mm;
}

.comment { color: green; font-style: italic; font-family: Times New Roman; font-size: 12pt; }
.footnote .comment { color: green; font-style: italic; font-family: Times New Roman; font-size: 13px; }
.example .comment { color: green; font-style: italic; font-family: Times New Roman; font-size: 11pt; }
.note .comment { color: green; font-style: italic; font-family: Times New Roman; font-size: 11pt; }

span.keyword { color: #00607c; font-style: normal; }
span.parenthesis { color: #af1915; }
span.curlybracket { color: #af1915; }
span.squarebracket { color: #af1915; }
span.literal { color: #9F6807; }
span.literalterminal { color: #9F6807; font-family: Courier New; font-style: normal; }
span.literaltcode { color: #9F6807; font-family: Courier New; font-style: normal; }
span.operator { color: #570057; }
span.anglebracket { color: #570057; }
span.preprocessordirective { color: #6F4E37; }

span.textsuperscript {
	vertical-align: super;
	font-size: smaller;
	line-height: 0;
}

.footnotenum { vertical-align: super; font-size: smaller; line-height: 0; }

.footnote {
	font-size: 13px;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

div.minipage {
	display: inline-block;
	margin-right: 3em;
}

div.numberedTable {
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 12pt;
	margin-top: 8pt;
}

div.figure {
	text-align: center;
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 12pt;
	margin-top: 3pt;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7pt;
	text-align: left;
}

td, th {
	padding-left: 1em;
	padding-right: 1em;
	vertical-align: top;
}

td.empty {
    padding: 0px;
    padding-left: 1px;
}

td.left {
	text-align: left;
}

td.hidden {
	padding: 0;
	width: 0;
}

td.right {
	text-align: right;
}

td.center {
	text-align: center;
}

td.justify {
	text-align: justify;
}

td.border {
	border-left: 1px solid black;
}

tr.rowsep, td.cline {
	border-top: 1px solid black;
}

tr.capsep {
	border-top: 3px solid black;
	border-top-style: double;
}

th {
	border-bottom: 1px solid black;
}

span.centry {
	font-weight: bold;
}

div.table {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
}

span.indented {
	background: inherit;
	display: block;
	margin-left: 2em;
	margin-bottom: 1em;
	margin-top: 1em;
}

table.enumerate {
	border: 0;
	margin: 0;
}

table.enumerate td {
	padding: 0;
}

table.enumerate td:first-child {
	width: 1cm;
	text-align: right;
}
