body {
	margin: 4em;
}

div.wrapper {
	max-width: 60em;
	margin: auto;
}

ul { list-style-type: none; }
a { text-decoration: none; }

ul > li:before {
	content: "\2014";
	position: absolute;
	margin-left: -1.5em; 
}

:target { background-color: #E9FBE9; }

.abbr_ref { float: right; }

.secnum {
	display: inline-block;
	width: 71pt;
}

div.paranumberparent {
	position: relative;
	left: -2em;
}

a.paranumber {
	position: absolute;
	font-size: small;
}

div.para { text-align: justify; }

.bnf {
	font-style: italic;
	margin: 1.2em;
	margin-left: 4em;
}

.poo { background: red; }

span.textnormal { font-style: normal; font-family: serif; }
span.grammarterm { font-style: italic; }
span.term { font-style: italic; }
span.terminal { font-family: monospace; font-style: normal; }
span.nonterminal { font-style: italic; }
span.tcode { font-family: monospace; font-style: normal; }
span.textbf { font-weight: bold; }
span.textsc { font-variant: small-caps; }
span.nontermdef { font-style: italic; }
span.emph { font-style: italic; }
span.techterm { font-style: italic; }
span.mathit { font-style: italic; }
span.mathsf { font-family: sans-serif; }
span.mathrm { font-family: serif; font-style: normal; }
span.mathtt { font-family: monospace; font-style: normal; }
span.mathscr { font-style: normal; }
span.mbox { font-family: serif; font-style: normal; }
span.ungap { display: inline-block; width: 2pt; }

.math { font-style: italic; }

span.synopsis {
	font-weight: bold;
	margin-top: 0.5em;
	display: block;
}

span.definition {
	font-weight: bold;
	display: block;
}

span.minipage {
	display: block;
}

span.itemdecl {
	font-family: monospace;
	margin-bottom: 1.2em;
	margin-left: 0em;
	margin-top: 0em;
	white-space: pre;
	display: block;
}

.codeblock {
	font-family: monospace;
	margin-bottom: 1.2em;
	margin-left: 1.2em;
	margin-top: 0em;
	white-space: pre;
	display: block;
}

span.footnote:before { content: "Footnote: \00a0"; }

span.footnote {
	font-size: small;
	display: block;
	margin: 2em;
}

div.figure {
	text-align: center;
	margin: 2em;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.8em;
	text-align: left;
}

td, th {
	padding-left: 1em;
	padding-right: 1em;
	vertical-align: top;
}

td.left {
	text-align: left;
}

td.right {
	text-align: right;
}

td.center {
	text-align: center;
}

td.justify {
	text-align: justify;
}

td.border {
	border-left: 1px solid black;
}

tr.rowsep {
	border-top: 1px solid black;
}

tr.capsep {
	border-top: 3px solid black;
	border-top-style: double;
}

th {
	border-bottom: 1px solid black;
}

span.centry {
	font-weight: bold;
}

div.table {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
}

span.tabletitle {
	text-align: center;
	display: block;
}
